* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh; /* 뷰포트 높이 */
    display: flex; /* 컨테이너 내부의 아이템들을 flexbox 방식으로 배치 */
    flex-direction: column; /* 컨테이너 내부의 아이템들을 방향을 세로로 배치 */
    justify-content: center; /* 아이템들을 수직 방향으로 가운데 정렬 */
    align-items: center; /* 아이템들을 수평 방향으로 가운데 정렬 */
    font-size: 32px;
}